<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="." inheritInChildApplications="false" allowOverride="true">
    <system.web>
		<compilation debug="false" strict="false" explicit="true" />
      <pages viewStateEncryptionMode="Always" maintainScrollPositionOnPostBack="true" />

		<customErrors mode="Off"></customErrors>
    </system.web>
  </location>
  

</configuration>
